.dataManagement {
    padding: 20px;
    background-color: #FAFBFC; /* Light grey background */
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tabs button:hover {
    background-color: #f0f0f0;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .form h2 {
    margin-top: 0;
  }
  
  .form select, .form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #00CCA6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #00b394;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  .table button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    margin: 0 5px; /* Добавляем отступы между кнопками */
  }
  
  .table .editBtn {
    background-color: #00CCA6;
    color: white;
  }
  
  .table .editBtn:hover {
    background-color: #01a789;
  }
  
  .table .deleteBtn {
    background-color: #DC3545;
    color: white;
  }
  
  .table .deleteBtn:hover {
    background-color: #c82333;
  }
  
  .table .saveBtn {
    background-color: #28A745;
    color: white;
  }
  
  .table .saveBtn:hover {
    background-color: #218838;
  }
  .tabs .active {
    border: 2px solid #000; /* Черная граница для активного таба */
  }
  .searchInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}